<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{ <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">   }}
    <link rel="stylesheet" href="../public/style.css">
    {{ <div class ="topnav">
            <a id="main" href="/"><i class="material-icons">home</i></a>
            <a id="art" href="/art"><i class="material-icons">color_lens</i></a>
            <a id="commissions" href="/commissions"><i class="material-icons">description</i></a>
            <a id="cart" href="/cart"><i class="material-icons">shopping_cart</i></a>
            <a id="profile" class="active" href="/profile"><i class="material-icons">person</i></a>
    </div> }}
</head>
<body>
  <main>
    <h1>{{title}}</h1>
    {{{body}}}
  </main>
</body>
</html>