body {
    background: #EEE2DF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
}

main {
    max-width: 90%;
    margin: auto;
}



/* TAGS */
h1 {
    background-color: #B36A5E;
    color: white;
    font-size: 25px;
    padding: 6px;
}

form {
    color: black;
    background-color: #C89F9C;
    padding: 6px;
}

p {
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: #B36A5E;
}



/* IDs */
#error {
	color: red;
	font-weight: bold;
}

#pageTitle {
    background-color: #B36A5E;
    color: white;
    font-size: 35px;
    padding: 7px;
}


/* #username {
    background-color: #EED7C5;
    padding: 6px;
}

#password {
    background-color: #EED7C5;
    padding: 6px;
} */

#usernameDisplay {
    color: white;
    background-color: #C97C5D;
    font-size: 40px;
    padding: 6px;
}



/* CLASSES */
.artworkTitle {
    color: white;
    background-color: #C89F9C;
    font-size: 20px;
    padding: 6px;
}



/* TOP NAVIGATION */
html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE2DF;
  }
.topnav {
    display: flex;
    background-color: #B36A5E;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    /*padding: .2%;*/
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: .9% 3%;
    text-decoration: none;
    font-size: 17px;
}

.topnav a .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: #B36A5E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.topnav a:hover .tooltip{
    visibility: visible;
    background-color: #C97C5D;
    color: white;
    transition-duration: 500ms;
}


.topnav a.active {
    background-color: #C89F9C;
    color: black;
}


/* Artwork Gallery */
.gallery {
    overflow: hidden;
    margin: 10px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.iconInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
.iconInner img { width: 100% }


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .icon {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .icon {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / iPad view: 3 tiles */
    .icon {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop view: 4 tiles */
    .icon {
        width: 25%;
        padding-bottom: 25%;
    }
}