body {
    background: #F8B195;
    background: -webkit-linear-gradient(right, #F4D6D6, #F6F5E1);
    background: -moz-linear-gradient(right, #F4D6D6, #F6F5E1);
    background: -o-linear-gradient(right, #F4D6D6, #F6F5E1);
    background: linear-gradient(left, #F4D6D6, #F6F5E1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
}

main {
    max-width: 90%;
    margin: auto;
}

#error {
	color: red;
	font-weight: bold;
}

#myForm {
    color: white;
    background-color: DarkSalmon;
    padding: 6px;
}

#username {
    background-color: #FFFFBF;
    padding: 6px;
}

#password {
    background-color: #FFFFBF;
    padding: 6px;
}

#usernameDisplay {
    background-color: #FFFFBF;
    font-size: 40px;
    padding: 6px;
}

footer {
    text-align: center;
    padding: 6px;
    background-color: DarkSalmon;
    color: white;
}
html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #64a6bd;
  }
.topnav {
    display: flex;
    background-color: #90a8c3;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .2%;
}


.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: .9% 3%;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #64a6bd;
    color: white;
    transition-duration: 500ms;
}


.topnav a.active {
    background-color: #ada7c9;
    color: black;
}


/* Artwork Gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.title {
    padding: 15px;
    text-align: center;
}