<article>
    <header>
        <h1>About Maggie</h1>
        <p>*Insert a little bio by Maggie*</p>
    </header>
</article>

<h1>Artwork Gallery</h1>
<div class="gallery">
  {{#if artworks}}
    {{#each artworks}}
        <div class="icon">
            <div class="iconInner">
                <a href="/artwork"><img src={{this.artImage}} alt={{this.name}}></a>
                <div class="artworkTitle">{{this.name}}</div>
            </div>
        </div>
    {{/each}}
  {{else}}
    <p>No Artworks Available</p>
  {{/if}}
</div>

<footer>
    <a href="/artworks">Back to Top</a>
    {{#if loggedIn}}
        <a href="/logout">Logout</a>
    {{/if}}
</footer>