<article>
    <header>
        <h1>About Maggie</h1>
        <p>
            Hello! I'm Maggie Faustino from Hackettstown, New Jersey. I work primarily in digital art programs, and I
            always find myself being inspired by fantastical stories and environments. I like to portray a variety of
            different atmospheres through my vivid color choices and style. Through my work, I hope to showcase not only
            my own imagination but also the people who have inspired me to share my creations with the world. Everyday
            I strive to sharpen my skills and develop my portfolio even further.
        </p>
    </header>
</article>

<h1>Artwork Gallery</h1>
<div class="gallery">
  {{#if artworks}}
    {{#each artworks}}
        <div class="icon">
            <div class="iconInner">
                <a href="/artwork"><img src={{this.artImage}} alt={{this.name}}></a>
                <div class="artworkTitle">{{this.name}}</div>
            </div>
        </div>
    {{/each}}
  {{else}}
    <p>No Artworks Available</p>
  {{/if}}
</div>

<footer>
    <a href="/artworks">Back to Top</a><br>
    {{#if loggedIn}}
        <a href="/logout">Logout</a>
    {{/if}}
</footer>