<article>
    <header>
        <h1>About Maggie</h1>
        <p>*Insert a little bio by Maggie*</p>
    </header>
</article>

<div class="gallery">
{{#each artworks}}
    <div class="icon">
        <div class="iconInner">
            <a href="artwork"><img src={{artImage}} alt="{{name}}"></a>
            <div class="title">{{name}}</div>
        </div>
    </div>
{{/each}}
</div>
