<form method="POST" id="artwork-form" action="/artwork">
    <label id="name" for="name">Title:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label id="artImage" for="artImage">File Path to Artwork Image</label><br>
    <input type="text" id="artImage" name="artImage"><br><br>

    <label id="artVideo" for="artVideo">File Path to Artwork Video:</label><br>
    <input type="text" id="artVideo" name="artVideo"><br><br>

    <label id="tags" for="tags">Tags (separate by comma):</label><br>
    <input type="text" id="tags" name="tags"><br><br>

    <label id="price" for="price">Price:</label><br>
    <input type="number" id="price" name="price"><br><br>

    <label id="description" for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br><br>

    {{#if errorExists}}
        <p id="error">{{error}}</p>
    {{/if}}

    <button type="submit">Submit</button><br><br><br>
</form>