<article>
    <p>These are all of the commission requests accepted by Maggie.</p><br><br>
    {{#each commissions}}
        <div class="commission">
            <dl> 
                <dt>Commission ID</dt> 
                <dd>{{commissionId}}</dd><br>
                <dt>Status</dt> 
                <dd>{{status}}</dd><br>
                <dt>Price</dt> 
                <dd>{{price}}</dd><br>
            </dl>
        </div>
    {{/each}}
</article>


<footer>
    <a href="/commissions">Back to Top</a>
    <a href="/artworks">Back to All Artworks</a>
    {{#if loggedIn}}
        <a href="/logout">Logout</a>
    {{/if}}
</footer>