{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<article>
    <p>These are all of the active commission requests accepted by Maggie.</p><br><br>

    {{!-- FORM DOES NOT WORK
            <div id="progress">
                <div id="progress-bar"></div>
                <ul id="progress-num">
                    <li class="step active">Order Placed</li>
                    <li class="step">Order Approved</li>
                    <li class="step">Maggie's Working On It</li>
                    <li class="step">Maggie's Finished!</li>
                    <li class="step">Shipped</li>
                </ul>
            </div>

            <button id="progress-prev" class="btn" disabled>Prev</button>
            <button id="progress-next" class="btn">Next</button> --}}

    {{#each commissions}}
        <div class="commission">
            <dl> 
                <dt>Commission ID</dt> 
                <dd>{{this.commissionId}}</dd><br>
                <dt>Status</dt> 
                <dd>{{this.status}}</dd><br>
                <dt>Price</dt> 
                <dd>{{this.price}}</dd><br><br>
            </dl>

            {{!-- FORM DOES NOT WORK --}}
            <div id="progress">
                <div id="progress-bar"></div>
                <ul id="progress-num">
                    <li class="step active">Order Placed</li>
                    <li class="step">Order Approved</li>
                    <li class="step">Maggie's Working On It</li>
                    <li class="step">Maggie's Finished!</li>
                    <li class="step">Shipped</li>
                </ul>
            </div>

            <button id="progress-prev" class="btn" disabled>Prev</button>
            <button id="progress-next" class="btn">Next</button>
        </div>
    {{/each}}
</article>


<footer>
    <a href="/commissions">Back to Top</a><br>
    <a href="/artworks">Back to All Artworks</a>
</footer>