{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<form method="POST" id="login-form" action="/login">
    <label id="username" for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label id="password" for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Login</button><br><br><br>
</form>


<footer>
    <a href="/signup">Need to register? Click here to sign-up</a>
    <a href="/artworks">Continue as Guest</a>
</footer>