<article>
    {{#each notifications}}
        <div class="notifications">
            <dl> 
                <dt>Date:</dt> 
                <dd>{{this.dateSent}}</dd><br>
                <dt>Message:</dt> 
                <dd>{{this.message}}</dd><br>
            </dl>
        </div>
    {{/each}}
</article>

<footer>
    <a href="/notifications">Back to Top</a><br>
    <a href="/artworks">Back to All Artworks</a>
</footer>