{{#if errorExists}}
    <p id="error">{{error}}</p>
{{/if}}

<form method="POST" id="signup-form">
    <label id="username" for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>

    <label id="password" for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <label id="confirmPassword" for="confirmPassword">Confirm Password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword"><br><br>

    <h2>Profile Setup</h2><br>
    <label id="firstName" for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName"><br><br>

    <label id="lastName" for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"><br><br>

    <label id="email" for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label id="pronouns" for="pronouns">Pronouns:</label><br>
    <input type="text" id="pronouns" name="pronouns"><br><br>

    <label id="age" for="age">Age:</label><br>
    <input type="number" id="age" name="age"><br><br>

    <label id="city" for="city">City:</label><br>
    <input type="text" id="city" name="city"><br><br>

    <label id="state" for="state">State:</label><br>
    <input type="text" id="state" name="state"><br><br>

    <button type="submit">Signup</button><br><br><br>
</form>


<footer>
    <a href="/">Already registered? Click here to log in</a><br>
    <a href="/artworks">Continue as Guest</a>
</footer>